<% layout("/layouts/boilerplate") %>  <!-- to use the boilerplate layout for this page -->


<div class="row">
    <div class="col-8 offset-3 mt-3">

        <h3><b><%= listing.title %></b></h3>
    </div>
    <div class="card col-6 offset-3 show-card">
        <img src="<%= listing.image.url%>" class="card-img-top show-img" alt="listing image"/>
        <!-- <img 
            src=" listing.image && listing.image.url ? listing.image.url : 'https://via.placeholder.com/300x200?text=No+Image' " 
            class="card-img-top show-img" 
            alt="listing image"
        /> -->
        <div class="card-body">
            <p class="card-text">
                <br><br>
                <%= listing.description %> <br>
                &#8377; <%= listing.price.toLocaleString("en-IN") %> / night <br>
                <%= listing.location %> <br>
                <%= listing.country %> <br>
            </p>
        </div>
    </div>

    <br>
    <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>

        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
    </div>

    <div class="col-8 offset-3 mt-3 mb-3">
        <hr>
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating">Rating</label>
                <input type="range" id="rating" name="review[rating]" min="1" max="5" class="form-range"/>      <!--review is an array and it is storing rating and comments and this review is sent to server to store on reviews database-->
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea id="comment" name="review[comment]" cols="30" rows="5" required class="form-control"></textarea>
                <div class="invalid-feedback">Please add some comments for review..!</div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
</div>
    
